@import "tailwindcss";

@theme {
  --color-primary-black: #0B0E0D;
  --color-accent-green: #00C874;
  --color-off-white: #F5F5F5;
  --font-sans: "Inter", "Montserrat", sans-serif;
}

body {
  @apply bg-primary-black text-off-white font-sans antialiased;
}
